
:root {
    --color-bg: #ffffff;
    --color-surface: lightgrey;
    --color-sidebar: lightgrey;
    --color-icon-bg: #e5e7eb;
    --color-icon-text: black;
    --color-text: #1f2937;
    --color-muted: #6b7280;
    --color-accent: #06b6d4;
    --border-radius: 8px;
    --transition: 0.2s ease;
}

[data-theme="dark"] {
    --color-bg: #121212;
    --color-surface: #1e1e1e;
    --color-sidebar: #1f1f1f;
    --color-icon-bg: #e5e7eb;
    --color-icon-text: black;
    --color-text: #f3f4f6;
    --color-muted: #9ca3af;
    --color-accent: #22d3ee;
    --border-radius: 8px;
    --transition: 0.2s ease;
}
